<div id="hattop" class="columns col-9 col-mx-auto">
    <div class="columns col-12 col-mx-auto">
        <div class="column col-sm-12 col-6 col-ml-auto">
            <label for="form.hat_names.id_for_label" class="form-label">Enter names separated by line: </label>
            <textarea class="form-input" name="hatnames" id="names" placeholder="Names"></textarea>
        </div>
        <div class="column col-sm-12 col-6 col-mr-auto">
            <label for="tasks" class="form-label">Enter tasks separated by line: </label>
            <textarea class="form-input" name="hattasks" id="tasks" placeholder="Tasks"></textarea>
        </div>
    </div>
    <div class="column col-auto col-mx-auto">
        <label class="form-switch form-label">Discard extra tasks
            <input type="checkbox" name="discard" id="discard"><i class="form-icon"></i>
        </label>
    </div>
</div>

<div id="tip" class="column col-9 col-mx-auto">{{}}</div>